* {
    font-family:Arial, Helvetica, sans-serif;
}

nav ul {
    list-style-type:none;
    text-align:center;
}

nav ul li {
    display:inline-block;
    margin-right:20px;
}

/* table {
    border-collapse:collapse;
} */

th, td {
    border: 1px solid black;
    padding: 10px;
}